POSTGRES_DB="noise_bot_db"
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:50101/noise_bot_db"

TWITTER_APP_CONSUMER_KEY=''
TWITTER_APP_CONSUMER_SECRET=''
TWITTER_APP_ACCESS_TOKEN=''
TWITTER_APP_ACCESS_TOKEN_SECRET=''
